### Other Built-in Numeric Tools
In addition to its core object types, Python also provides both built-in functions and standard library modules for numeric processing.

In [1]:
# math module
import math

In [2]:
# what is available in math?
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [3]:
# Common constants: pi and exp
math.pi, math.e

(3.141592653589793, 2.718281828459045)

In [4]:
# Sine of 2pi
math.sin(2 * math.pi)

-2.4492935982947064e-16

In [5]:
# Square root of 144 and 2
math.sqrt(144), math.sqrt(2)

(12.0, 1.4142135623730951)

In [6]:
# Exponentiation (power): 2 to the power of 4
#    using pow mathod
#    using **
#    what if we feed floats
pow(2, 4), 2 ** 4, 2.0 ** 4.0

(16, 16, 16.0)

In [7]:
# Absolute value of -42
abs(-42)

42

In [8]:
# Summation
#    Sum over (1, 2, 3, 4)
sum((1, 2, 3, 4))

10

In [9]:
# what if I define a variable called sum
# and assign the output of sum((1, 2, 3, 4)) to sum
sum = sum((1, 2, 3, 4))

In [10]:
# now try to sum values again
sum((1, 2, 3, 4))

TypeError: 'int' object is not callable

It was not very smart! Be careful not to overwrite method names!

In [11]:
# Minimum and Maximum values over (3, 1, 2, 4)
min(3, 1, 2, 4), max(3, 1, 2, 4)

(1, 4)

In [12]:
# Floors (new-lower integer) of 2.567 and -2.567
math.floor(2.567)

2

In [13]:
math.floor(-2.567)

-3

In [14]:
# Integer conversion of 2.567 and -2.567
int(2.567), int(-2.567)

(2, -2)

In [15]:
# Round 2.567 and 2.467
round(2.567), round(2.467)

(3, 2)

In [16]:
# What is we want to round only the second floating point?
round(2.567, 2)

2.57

Interestingly, there are three ways to compute square roots in Python: using a module function, an expression, or a built-in function.

In [17]:
# Using a module
#    square root of 144
math.sqrt(144)

12.0

In [18]:
# Expression
144 ** 0.5

12.0

In [19]:
# Built-in function pow
pow(144, .5)

12.0

Notice that standard library modules such as math must be imported, but built-in functions such as abs and round are always available without imports. In other words, modules are external components, but built-in functions live in an implied namespace that Python automatically searches to find names used in your program.

In [20]:
# Let's compare the performance if each of these
# using time module
import time

In [21]:
start_time = time.time()

[math.sqrt(144) for i in range(10000)]

end_time = time.time()
print("Elapsed time to run math.sqrt(144) was: ",
      end_time - start_time, " seconds")

Elapsed time to run math.sqrt(144) was:  0.001958131790161133  seconds

In [22]:
start_time = time.time()

[144 ** .5 for i in range(10000)]

end_time = time.time()
print("Elapsed time to run (144 ** .5) was: ",
      end_time - start_time, " seconds")

Elapsed time to run (144 ** .5) was:  0.0006709098815917969  seconds

In [23]:
start_time = time.time()

[pow(144, .5) for i in range(10000)]

end_time = time.time()
print("Elapsed time to run pow(144, .5)) was: ",
      end_time - start_time, " seconds")

Elapsed time to run pow(144, .5)) was:  0.0023272037506103516  seconds

The standard library random module must be imported as well. This module provides an array of tools, for tasks such as picking a random floating-point number between 0 and 1, and selecting a random integer between two numbers:

In [24]:
import random

In [25]:
# generate a random number
random.random()

0.7437203478212495

In [26]:
# it gives a different value each time we call it
random.random()

0.4663450805328384

In [27]:
# what if we want set the seed to 100
random.seed(100)

In [28]:
# generate random numbers again
random.random()

0.1456692551041303

In [29]:
random.random()

0.45492700451402135

In [30]:
# reset 
random.seed(100)

In [31]:
random.random()

0.1456692551041303

In [32]:
random.random()

0.45492700451402135

In [33]:
# generate a random integer between 1 and 10
random.randint(1, 10)

3

In [34]:
random.randint(1, 10)

7

This module can also choose an item at random from a sequence, and shuffle a list of items randomly:

In [35]:
# Choose from a list of 
#    Life of Grain
#    Holy Grain
#    Meaning of Life
# usinf choice
random.choice(['Life of Brian',
               'Holy Grail', 
               'Meaning of Life'])

'Meaning of Life'

In [36]:
# Shuffle from a list of suits:
#    ['hearts', 'clubs', 'diamonds', 'spades']
suits = ['hearts', 'clubs', 'diamonds', 'spades']
random.shuffle(suits)

In [37]:
# Did the order of suits change?
suits

['spades', 'hearts', 'clubs', 'diamonds']

## Sets

The set— an **unordered** collection of **unique** and **immutable** objects that supports operations corresponding to mathematical set theory. By definition, an item appears only once in a set, no matter how many times it is added. Accordingly, sets have a variety of applications, especially in numeric and database-focused work. a set acts much like the keys of a valueless dictionary, but it supports extra operations.

In [38]:
# Built-in call 
set([1, 2, 3, 4, 4])

{1, 2, 3, 4}

In [39]:
# we can wrap a string with set
set('spam')

{'a', 'm', 'p', 's'}

In [40]:
# Define a set called S that has
# items 's', 'p', 'a', 'm'
S = {'s', 'p', 'a', 'm'}

In [41]:
# check the order by printing
print(S)

{'a', 's', 'p', 'm'}

In [42]:
# we can add items by using add method
S.add('alot')

In [43]:
# let's define a set S1 with
# items 1, 2, 3, 4
S1 = {1, 2, 3, 4}

In [44]:
# we can check the intersection by &
# what is the intersection between S1 and {1, 3}
S1 & {1, 3}

{1, 3}

In [45]:
# we can check union by |
# what is the union of {1, 5, 3, 6} and S1?
{1, 5, 3, 6} & S1

{1, 3}

In [46]:
# we can check the difference between sets by -
# what is the difference between S1 and {1, 3, 4}
S1 - {1, 3, 4}

{2}

In [47]:
# we can check if a set is a super set 
# of another set by >
# is S1 a super set of {1, 3}
S1 > {1, 3}

True

Sets can only contain **immutable** (a.k.a. “hashable”) object types. Hence, lists and dictionaries cannot be embedded in sets, but tuples can if you need to store compound values.

In [48]:
# let's create an empty set S by using type set
S = set()

In [49]:
# now add an item 1.23
S.add(1.23)

In [50]:
# let's try to add list [1, 2, 3] to S
S.add([1, 2, 3])

TypeError: unhashable type: 'list'

In [51]:
# what about adding a dictionary {'a': 1}
S.add({'a': 1})

TypeError: unhashable type: 'dict'

In [52]:
# What about adding a tuple (1, 2, 3)
S.add((1, 2, 3))

In [53]:
# Print S
print(S)

{1.23, (1, 2, 3)}

As we just saw, we can not add lists or dictionaries but tuples are OK since they are immutable.

In [54]:
# We can check membership by in
# let's check if (1, 2, 3) is in S
(1, 2, 3) in S

True

In [55]:
# is (1, 4, 3) in S?
(1, 4, 3) in S

False

In [56]:
# We can iterate items using set comprehension
{x ** 2 for x in [1, 2, 3, 4, 4]}

{1, 4, 9, 16}

In [57]:
# Can we use set comprehension that has the
# same effect as set('spam')?
{x for x in 'spam'}

{'a', 'm', 'p', 's'}

In [58]:
# Create a set that has four timesrepetition 
# of each item in 'spamham'
{c * 4 for c in 'spamham'}

{'aaaa', 'hhhh', 'mmmm', 'pppp', 'ssss'}

Set operations have a variety of common uses, some more practical than mathematical. For example, because items are stored only once in a set, sets can be used to filter duplicates out of other collections, though items may be reordered in the process because sets are unordered in general. Simply convert the collection to a set, and then convert it back again.

In [59]:
# Remove the duplicates in
# L = [1, 2, 1, 3, 2, 4, 5] by using set
L = [1, 2, 1, 3, 2, 4, 5]
list(set(L))

[1, 2, 3, 4, 5]

In [60]:
# Does the order change?
# Let's check with 
# ['yy', 'cc', 'aa', 'xx', 'dd', 'aa']
list(set(['yy', 'cc', 'aa', 'xx', 'dd', 'aa']))

['yy', 'dd', 'xx', 'aa', 'cc']

Sets can be used to isolate differences in lists, strings, and other iterable objects too— simply convert to sets and take the difference—though again the unordered nature of sets means that the results may not match that of the originals.

In [61]:
# Find the differences between list
# [1, 3, 5, 7] and [1, 2, 4, 5, 6]
set([1, 3, 5, 7]) - set([1, 2, 4, 5, 6])

{3, 7}

In [62]:
# Find the differences between
# strings 'abcdefg' and 'abdghij'
set('abcdefg') - set('abdghij')

{'c', 'e', 'f'}

You can also use sets to perform order-neutral equality tests by converting to a set before the test, because order doesn’t matter in a set. For instance, you might use this to compare the outputs of programs that should work the same but may generate results in different order. Sorting before testing has the same effect for equality, but sets don’t rely on an expensive sort, and sorts order their results to support additional magnitude tests that sets do not.

In [63]:
# Do these two lists contain same items?
# L1, L2 = [1, 3, 5, 2, 4], [2, 5, 3, 4, 1]
L1, L2 = [1, 3, 5, 2, 4], [2, 5, 3, 4, 1]

In [64]:
# Can we use equality?
# Order matters in sequences
L1 == L2

False

In [65]:
# What about order-neutral equality?
set(L1) == set(L2)

True

In [66]:
# can we use sort?
sorted(L1) == sorted(L2)

True

In [67]:
# let's check timing for set
import time
start_time = time.time()

x = [set(L1) == set(L2) for i in range(10000)]

end_time = time.time()
elapsed_time = end_time - start_time
print("Elapsed time for set(L1) == set(L2) is",
      '{0:0.4f}'.format(elapsed_time))

Elapsed time for set(L1) == set(L2) is 0.0086

In [68]:
# let's check timing for sort
start_time = time.time()

x = [sorted(L1) == sorted(L2) for i in range(10000)]

end_time = time.time()
elapsed_time = end_time - start_time
print("Elapsed time for sorted(L1) == sorted(L2) is",
      '{0:0.4f}'.format(elapsed_time))

Elapsed time for sorted(L1) == sorted(L2) is 0.0066

Sets are also convenient when you’re dealing with large data sets (database query results, for example)—the intersection of two sets contains objects common to both categories, and the union contains all items in either set.

In [69]:
# Let's create two sets:
# engineers = {'bob', 'sue', 'ann', 'vic'}
# managers = {'tom', 'sue'}
engineers = {'bob', 'sue', 'ann', 'vic'}
managers = {'tom', 'sue'}

In [70]:
# Is bob an engineer?
'bob' in engineers

True

In [71]:
# Who is both engineer and manager?
engineers & managers

{'sue'}

In [72]:
# All people in either category
engineers | managers

{'ann', 'bob', 'sue', 'tom', 'vic'}

In [73]:
# Engineers who are not managers
engineers - managers

{'ann', 'bob', 'vic'}

In [74]:
# Managers who are not engineers
managers - engineers

{'tom'}

In [75]:
# Are all managers engineers? (superset)
engineers > managers

False

In [76]:
# Are both bob and sue engineers? (subset)
{'bob', 'sue'} < engineers

True

In [77]:
# Who is in one but not both?
managers ^ engineers

{'ann', 'bob', 'tom', 'vic'}

## Booleans

Python today has an explicit Boolean data type called bool, with the values True and False available as preassigned built-in names. Internally, the names True and False are instances of bool, which is in turn just a subclass (in the object- oriented sense) of the built-in integer type int. True and False behave exactly like the integers 1 and 0, except that they have customized printing logic— they print themselves as the words True and False, instead of the digits 1 and 0.

In [78]:
# what is the type of True?
type(True)

bool

In [79]:
# we can check it True is a boolean by
# isinstance method
isinstance(True, bool)

True

In [80]:
# check is True is an int
isinstance(True, int)

True

In [81]:
# The operator == compares values of 
# both the operands and checks for value 
# equality.
True == 1

True

In [82]:
# is operator checks whether both the 
# operands refer to the same object or not.
True is 1

False

# The Dynamic Typing Interlude

So far, we’ve been using variables without declaring their existence or their types, and it somehow works. When we type ``a = 3`` in an interactive session or program file, for instance, how does Python know that ``a`` should stand for an integer? For that matter, how does Python know what ``a`` is at all?

Once you start asking such questions, you’ve crossed over into the domain of Python’s dynamic typing model. In Python, types are determined automatically at runtime, not in response to declarations in your code. 

For example, when we say this to assign a variable a value:

In [83]:
a = 3 # Assign a name to an object

at least conceptually, Python will perform three distinct steps to carry out the request.
These steps reflect the operation of all assignments in the Python language:
1. Create an object to represent the value 3.
2. Create the variable ``a``, if it does not yet exist. 
3. Link the variable ``a`` to the new object 3.

The net result will be a structure inside Python that resembles the following figure:

![alt text](../figures/names_and_object.png)

## Types Live with Objects, Not Variables

In [84]:
a = 3 # it is an integer

In [85]:
a = "spam" # it is a string

In [86]:
a = 1.23 # now it is a floating point

Names have no types; as stated earlier, types live with objects, not names. In the preceding listing, we’ve simply changed ``a`` to reference different objects. Objects, on the other hand, know what type they are—each object contains a header field that tags the object with its type. The integer object 3, for example, will contain the value 3, plus a designator that tells Python that the object is an integer.

## Objects Are Garbage-Collected

When we reassign a variable, what happens to the value it was previously referencing? For example, after the following statements, what happens to the object 3?

In [87]:
a = 3

In [88]:
a = "spam"

The answer is that in Python, whenever a name is assigned to a new object, the space held by the prior object is reclaimed if it is not referenced by any other name or object - that is, the object’s space is automatically thrown back into the free space pool, to be reused for a future object. This automatic reclamation of objects’ space is known as *garbage collection*.

The most immediately tangible benefit of garbage collection is that it means you can use objects liberally without ever needing to allocate or free up space in your script. Python will clean up unused space for you as your program runs.

## Shared References

In [89]:
a = 3

In [90]:
b = a

Typing these two statements generates the scene captured in the following figure:

![alt text](../figures/shared_reference.png)

This scenario in Python—with multiple names referencing the same object—is usually called a *shared reference*.

In [92]:
# suppose we extend the session with one more statement:
a = 3
b = a
a = "spam"

![alt text](../figures/shared_reference_2.png)

## Shared References and In-Place Changes

There are objects and operations that perform in-place object changes—Python’s mutable types, including lists, dictionaries, and sets.

For objects that support such in-place changes, you need to be more aware of shared references, since a change from one name may impact others. Otherwise, your objects may seem to change for no apparent reason.

In [93]:
# A mutable object
L1 = [2, 3, 4]

In [94]:
# Make a reference to the same object
L2 = L1

In [95]:
# An in-place change
L1[0] = 24

In [96]:
# L1 is different
L1

[24, 3, 4]

In [97]:
L2

[24, 3, 4]

Really, we haven’t changed L1 itself here; we’ve changed a component of the object that L1 references. This sort of change overwrites part of the list object’s value in place. Because the list object is shared by (referenced from) other variables, though, an in- place change like this doesn’t affect only L1. In this example, the effect shows up in L2 as well because it references the same object as L1. Again, we haven’t actually changed L2, either, but its value will appear different because it refers to an object that has been overwritten in place.

It’s also just the default: if you don’t want such behavior, you can request that Python copy objects instead of making references. There are a variety of ways to copy a list, including using the built-in list function and the standard library copy module. Perhaps the most common way is to slice from start to finish.

In [98]:
L1 = [2, 3, 4]

In [99]:
# Make a copy of L1 (or list(L1), copy.copy(L1), etc.)
L2 = L1[:]

In [100]:
L1[0] = 24

In [101]:
# Did L2 change?

Also, note that the standard library ``copy`` module has a call for copying any object type generically, as well as a call for copying nested object structures—a dictionary with nested lists, for example:

In [102]:
import copy
L1 = [[2, 3, 4], ["a", "b", "c"]]
L2 = copy.copy(L1) # Make top-level "shallow" copy of any object Y
L3 = copy.deepcopy(L1) # Make deep copy of any object Y: copy all nested parts

In [103]:
L1[0][0] = "spam"

In [104]:
# What is L1, L2, L3?

## Shared References and Equality

In [105]:
L = [1, 2, 3]

In [106]:
# M and L reference the same object
M = L

In [107]:
# Same values
M == L

True

In [108]:
# Same objects
M is L

True

In [109]:
# M and L reference different objects
L = [1, 2, 3]
M = [1, 2, 3]

In [110]:
# Same values
L == M

True

In [111]:
# Different Objects
L is M

False

Now, watch what happens when we perform the same operations on small numbers:

In [112]:
# Should be two different objects
X =  42
Y = 42

In [113]:
X == Y

True

In [114]:
# Same object anyhow: caching at work!
X is Y

True

Because small integers and strings are cached and reused, though, it tells us they reference the same single object.

In [115]:
T1 = (1, 2)
T2 = (1, 2)

In [116]:
T1 == T2

True

In [117]:
T1 is T2

False